@import "variables";
.Compare-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 820px) {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    > span {
      margin: 1rem auto;
    }
  }
  .btn-edit {
    background-color: white;
    border: 1px solid black;
    padding: 10px 1rem;
    border-radius: 3px;
    transition: all 0.2s;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
.Compare-display {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  .Compare {
    margin: 5px 2px;
    .fresh-bg {
      background-color: $primary;
      color: white;
      padding: 1rem 0;
    }
    .frozen-bg {
      background-color: $secondary;
      color: white;
      padding: 1rem;
    }
    &-div {
      transition: all 0.3s;
      margin: 7px 0;
      border: 2px solid transparent;
      &:hover {
        background-color: darken($body-bg, 3%);
        border: 2px solid white;

        box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
      }
      > p {
        margin: 10px;
      }
      width: 300px;

      text-align: center;
      background-color: white;
      border-radius: 2px;
      &-colors {
        display: flex;
        justify-content: center;
        .Compare-colors {
          width: 15px;
          height: 15px;
          margin: 5px;
          border-radius: 10px;
        }
      }
      &-title {
        color: lightgray;
      }
    }
  }
}
