@import "variables";
@import "product";
@import "product-display";
@import "compare-products";
@import "modal";
.container {
  width: 70%;
  margin: auto;
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 12px 2.3rem;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
  cursor: pointer;
}
