@import "product";
@import "product-display";
@import "compare-products";
@import "modal";
.container {
  width: 70%;
  margin: auto;
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 10px 2rem;
  &:focus {
    outline: none;
  }
  cursor: pointer;
}
